h1 {
  text-align: center;
  margin-top: 10%;
}
nav {
  display: flex;
  padding: 20px 50px;
  justify-content: space-around;
}
li {
  list-style: none;
}
li:hover {
  text-decoration: underline;
  cursor: pointer;
}
a {
  text-decoration: none;
}
